@page
@model HotelWebApplication.Pages.Hotel.CompareModel
@{
    ViewData["Title"] = "مقایسه هتل ها";
}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        مقایسه
        <small>هتل ها</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item active">مقایسه</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        @foreach (var item in Model.Compare)
        {
            <div class="col-lg-4 mb-4">
                <div class="card card-outline-primary h-100">
                    <h3 class="card-header bg-secondary">@item.HotelName</h3>
                    <div class="card-body">
                        <div class="display-4">
                            <a href="/HotelDetail"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@item.CityName</li>
                        <li class="list-group-item">@item.Rate</li>
                        <li class="list-group-item">@item.RoomCount</li>
                        <li class="list-group-item">@item.Description</li>
                        <li class="list-group-item card-footer">
                            <a asp-page="HotelDetail" asp-route-id="@item.Id" class="btn btn-primary">ادامه مطلب!</a>
                        </li>
                    </ul>
                </div>
            </div>
        }

    </div>
    <!-- /.row -->

</div>
<br />

