@page
@model HotelWebApplication.Pages.Hotel.ListHotelModel
@{
    ViewData["Title"] = "لیست هتل ها";
}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        لیست هتل ها
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item active">لیست هتل ها</li>
    </ol>
    <a asp-page="/Hotel/Admin/HotelCreate">
        <button class="btn btn-group-lg btn-outline-success"> افزودن هتل جدید</button>
    </a>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">نام هتل</th>
                <th scope="col">نام شهر</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                var ModelItem = Model.ListHotel;
            }
            @foreach (var item in ModelItem)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.HotelName</td>
                    <td>@item.CityName</td>
                    <td>
                        <a asp-page="/Hotel/HotelDetail" asp-route-id="@item.Id">
                            <button class="btn btn-sm btn-outline-info">نمایش</button>
                        </a>
                        <a asp-page="/Hotel/Admin/HotelEdit" asp-route-id="@item.Id">
                            <button class="btn btn-sm btn-outline-warning">ویرایش</button>
                        </a>
                        <a asp-page="/Hotel/Admin/HotelDelete" asp-route-id="@item.Id">
                            <button class="btn btn-sm btn-outline-danger">حذف</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
