@model IndexModel
<div class="row">
    @if (@Model.ListTopHotel != null)
    {
        @for (int i = 0; i < @Model.ListTopHotel.Count; i++)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/Image/overview-photo-image.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@Model.ListTopHotel[i].HotelName</a>
                        </h4>
                        <p class="card-text">
                            کد هتل :
                            @Model.ListTopHotel[i].HotelCode
                        </p>
                        <p class="card-text">
                            امتیاز هتل :
                            @Model.ListTopHotel[i].Rate
                        </p>
                        <p class="card-text">
                            تعداد اتاق :
                            @Model.ListTopHotel[i].RoomCount
                        </p>
                    </div>
                    <div class=" card-footer">
                        <a asp-page="Hotel/HotelDetail" asp-route-id="@Model.ListTopHotel[i].Id">
                            <button class="btn btn-sm btn-outline-info">ادامه مطلب</button>
                        </a>
                        <div class="container">
                            <button class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#myModal">مقایسه</button>
                            <div class="modal fade" id="myModal" role="dialog">

                                <div class="modal-dialog">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    <div class="card">
                                                        <div class="card-header">مقایسه هتل ها</div>
                                                        <div class="card-body">
                                                            <form action="/Hotel/Compare" target="_blank">
                                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                                                <label for="name1">نام هتل شماره1 </label>
                                                                <div class="input-group mb-3">

                                                                    <input type="text" class="form-control fixed-value" id="name1" name="name1" placeholder="@Model.ListTopHotel[i].HotelName " aria-label="Recipient's username" aria-describedby="basic-addon2" value="@Model.ListTopHotel[i].HotelName" readonly>
                                                                </div>

                                                                <label for="name2">نام هتل شماره 2</label>
                                                                <div class="input-group mb-3">

                                                                    <input type="text" class="form-control fixed-value" id="name2" name="name2" placeholder="نام هتل شماره 2" aria-label="Recipient's username" aria-describedby="basic-addon2" value="">

                                                                </div>

                                                                <div class="card-footer">
                                                                    <input type="submit" value="مقایسه">
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>