@model IndexModel

<div class="row">
    <div class="col-lg-6">
        <h6 class="alert alert-info">بر اساس ستاره</h6>
        @if (@Model.ListStar != null)
        {
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                @for (int i = 0; i < @Model.ListStar.Count; i++)
                {
                    <div class="carousel-inner">
                        @if (i == 0)
                        {
                            <div class="carousel-item active">
                                <img src="Image/overview-photo-image.jpg" class="d-block w-100" alt="...">
                                <p class="text-dark" style="text-align: center">
                                    @Model.ListStar[i].StarNumber ستاره
                                </p>
                                <p class="text-dark" style="text-align: center">
                                    تعداد هتل :
                                    @Model.ListStar[i].Hotels.Count
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src="Image/overview-photo-image.jpg" class="d-block w-100" alt="...">
                                <p class="text-dark" style="text-align: center">
                                    @Model.ListStar[i].StarNumber ستاره
                                </p>
                                <p class="text-dark" style="text-align: center">
                                    تعداد هتل :
                                    @Model.ListStar[i].Hotels.Count
                                </p>
                            </div>
                        }

                    </div>
                }
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">قبلی</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">بعدی</span>
                </button>
            </div>
        }

    </div>

    <div class="col-lg-6">
        <h6 class="alert alert-info">بر اساس شهر</h6>
        @if (@Model.ListCity != null)
        {

            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                @for (int i = 0; i < @Model.ListCity.Count; i++)
                {
                    <div class="carousel-inner">
                        @if (i == 0)
                        {
                            <div class="carousel-item active">
                                <img src="Image/overview-photo-image.jpg" class="d-block w-100" alt="...">
                                <p class="text-dark" style="text-align: center">
                                    @Model.ListCity[i].CityName
                                </p>
                                <p class="text-dark" style="text-align: center">
                                    تعداد هتل :
                                    @Model.ListCity[i].Hotels.Count
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src="Image/overview-photo-image.jpg" class="d-block w-100" alt="...">
                                <p class="text-dark" style="text-align: center">
                                    @Model.ListCity[i].CityName
                                </p>
                                <p class="text-dark" style="text-align: center">
                                    تعداد هتل :
                                    @Model.ListCity[i].Hotels.Count
                                </p>
                            </div>
                        }

                    </div>
                }
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">قبلی</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">بعدی</span>
                </button>
            </div>

        }

    </div>

</div>