@page
@model HotelWebApplication.Pages.CollectionModel
@{
    ViewData["Title"] = "کالکشن";
}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        کالکشن هتل ها
    </h1>

    <ol class="breadcrumb alert alert-info">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item active">کالکشن</li>
    </ol>

    <div class="container">
        <form>
            <div class="row alert alert-light border">
                <div class="col-md-3">
                    <input type="text" name="filterName" id="textInputSearch" class="form-control" placeholder="فیلتر براساس نام هتل" style="" />
                </div>
                <div class="col-md-1">
                    <button class="btn btn-sm btn-outline-info" id="s">جستجو</button>
                </div>
                <div class="col-md-4">
                    <select class=" form-control" id="country" @*required=""*@>
                        <option value="">
                            انتخاب شهر
                        </option>
                        <option>نزولی</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class=" form-control" id="country" @*required=""*@>
                        <option value="">پنج ستاره</option>
                        <option>چهار ستاره</option>
                        <option>سه ستاره</option>
                        <option>دو ستاره</option>
                        <option>یک ستاره</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        @for (int i = 0; i < Model.Hotels.Count; i++)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="/HotelDetail"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/HotelDetail">@Model.Hotels[i].HotelName</a>
                        </h4>
                        <p class="card-text">
                            کد هتل :
                            @Model.Hotels[i].HotelCode
                        </p>
                        <p class="card-text">
                            امتیاز هتل :
                            @Model.Hotels[i].Rate
                        </p>
                        <p class="card-text">
                            تعداد اتاق :
                            @Model.Hotels[i].RoomCount
                        </p>
                    </div>
                    <div class=" card-footer">
                        <a asp-page="Hotel/HotelDetail" asp-route-id="@Model.Hotels[i].Id">
                            <button class="btn btn-sm btn-outline-info">ادامه مطلب</button>
                        </a>
                        <button class="btn btn-sm btn-outline-danger">مقایسه</button>
                    </div>
                </div>
            </div>
        }

    </div>


    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">قبلی</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">بعدی</span>
            </a>
        </li>
    </ul>


</div>

@section scripts{

    <script type="text/javascript">

        $(function () {

            $("#s").click(function () {
                $.get("https://localhost:44380/HotelSearch?name=" + $("textInputSearch").val(), function (data, status) {
                    document.getElementById("grid").innerHTML = data;
                });
            });

        });


    </script>

}

