@page
@model HotelWebApplication.Pages.CollectionModel
@{
    ViewData["Title"] = "کالکشن";
}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        کالکشن هتل ها
    </h1>

    <ol class="breadcrumb alert alert-info">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item active">کالکشن</li>
    </ol>

    <div class="container">
        <form>
            <div class="row alert alert-light border">
                <div class="col-md-3">
                    <input type="text" name="filterName" id="textInputSearch" class="form-control" placeholder="فیلتر براساس نام هتل" style="" />
                </div>
                <div class="col-md-1">
                    <button class="btn btn-sm btn-outline-info" id="s">جستجو</button>
                </div>

                <div class="col-md-4">
                    <select class=" form-control" id="country" @*required=""*@>
                        <option value="">
                            انتخاب شهر
                        </option>
                        <option>نزولی</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select name="stars" asp-items="ViewBag.StartNumbersList"></select>

                </div>
            </div>
        </form>
    </div>

    <div id="grid" class="row">
        @for (int i = 0; i < Model.Hotels.Count; i++)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="/HotelDetail"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/HotelDetail">@Model.Hotels[i].HotelName</a>
                        </h4>
                        <p class="card-text">
                            کد هتل :
                            @Model.Hotels[i].HotelCode
                        </p>
                        <p class="card-text">
                            امتیاز هتل :
                            @Model.Hotels[i].Rate
                        </p>
                        <p class="card-text">
                            تعداد اتاق :
                            @Model.Hotels[i].RoomCount
                        </p>
                    </div>
                    <div class=" card-footer">
                        <a asp-page="Hotel/HotelDetail" asp-route-id="@Model.Hotels[i].Id">
                            <button class="btn btn-sm btn-outline-info">ادامه مطلب</button>
                        </a>

                        <div class="container">
                            <button class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#myModal">مقایسه</button>
                            <div class="modal fade" id="myModal" role="dialog">

                                <div class="modal-dialog">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    <div class="card">
                                                        <div class="card-header">مقایسه هتل ها</div>
                                                        <div class="card-body">
                                                            <form action="/Hotel/Compare" target="_blank">
                                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                                                <label for="name1">نام هتل شماره1 </label>
                                                                <div class="input-group mb-3">

                                                                    <input type="text" class="form-control fixed-value" id="name1" name="name1" placeholder="@Model.Hotels[i].HotelName " aria-label="Recipient's username" aria-describedby="basic-addon2" value="@Model.Hotels[i].HotelName" readonly>
                                                                </div>

                                                                <label for="name2">نام هتل شماره 2</label>
                                                                <div class="input-group mb-3">

                                                                    <input type="text" class="form-control fixed-value" id="name2" name="name2" placeholder="نام هتل شماره 2" aria-label="Recipient's username" aria-describedby="basic-addon2" value="">

                                                                </div>

                                                                <div class="card-footer">
                                                                    <input type="submit" value="مقایسه">
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }


    </div>

    <br />
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">قبلی</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">بعدی</span>
            </a>
        </li>
    </ul>


</div>

@*@section scripts{

    <script>

        $(function () {

            $("#s").click(function () {
                $.get("https://localhost:44380/hotel/HotelSearch?name=" + $("#textInputSearch").val(), function (data, status) {
                    console.log(data);
                    document.getElementById("grid").innerHTML = data;
                });
            });


        });


    </script>
}*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

